<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Hi Influencer</title>
  <link rel="stylesheet" href="style/style.css" />
  <link rel="stylesheet" href="style/Style-Main.css" />
  <link rel="stylesheet" href="style/glide.core.min.css">
  <link rel="stylesheet" href="style/glide.theme.min.css">
  <link rel="icon" href="img/LOGO HI Influencers.svg">
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Palanquin:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>

<body class=" bg-gray-200 fadeIn w-screen h-screen flex justify-center items-center">
    <div class=" w-full m-5 md:max-w-xl bg-white w-1/2 p-5 rounded-xl shadow-xl">
        <!-- Logo -->
        <div class="md:flex items-center md:space-x-3">
            <img class="w-8" src="img/LOGO HI Influencers.svg" alt="Hi influencer Logo">
            <h1 class="hidden md:block font-semibold text-xl lg:text-2xl ">Hi Influencer</h1>
        </div>
        <!-- Form -->
        <form class="mt-5" action="">
            <div class="mt-4 flex flex-col" action="">
                <label class="block pb-2 text-md text-red-600 " for="Name">Username</label>
                <input id="NameH" class="block  bg-gray-100 p-3 rounded-lg cursor-auto focus:outline-none focus:ring-2 focus:ring-red-400 " type="text"
                  placeholder="Enter your Username">
              </div>
              <div class="mt-4 flex flex-col" action="">
                <label class="block pb-2 text-md text-red-600 " for="Name">Password</label>
                <input id="NameH" class="block  bg-gray-100 p-3 rounded-lg cursor-auto focus:outline-none focus:ring-2 focus:ring-red-400 " type="text"
                  placeholder="Enter your Password">
              </div>
              <div class="flex justify-center mt-8">
                <button id="bg-color-main" class="py-3 px-14 text-white text-lg rounded-full shadow-lg tracking-wider " >Login</button>
              </div>
        </form>
    </div>
  

    

</body>

</html>