html {
    scroll-behavior: smooth;
}
html,
body {
    width: auto !important;
    overflow-x: hidden !important;
}
body {
    font-family: "Palanquin", sans-serif;
}
.box-rounded {
    border-radius: 4rem;
}
@media screen and (max-width: 600px) {
    .box-rounded {
        border-radius: 4rem;
    }
}
.box-rounded2 {
    border-radius: 3rem;
}
@media screen and (max-width: 600px) {
    .box-rounded2 {
        border-radius: 3rem;
    }
}
.box-rounded3 {
    border-radius: 2rem;
}
@media screen and (max-width: 600px) {
    .box-rounded3 {
        border-radius: 2rem;
    }
}
#fontColor {
    color: #d45252;
}
#footerColor {
    background-color: #282f48;
}
#bg-color-main {
    background-color: #d45252;
}
#MainColor {
    background: rgb(40, 47, 72);
    background: linear-gradient(
        153deg,
        rgba(40, 47, 72, 1) 0%,
        rgba(136, 67, 78, 1) 100%,
        rgba(212, 82, 82, 1) 100%
    );
}
#Cirfoot {
    background: rgb(40, 47, 72);
    background: linear-gradient(
        120deg,
        rgba(40, 47, 72, 1) 0%,
        rgba(113, 62, 77, 1) 100%
    );
}

#ColorBtn {
    background: rgb(58, 74, 133);
    background: linear-gradient(
        153deg,
        rgba(58, 74, 133, 1) 8%,
        rgba(212, 82, 82, 1) 100%
    );
}
#CardBlue {
    background: rgb(116, 127, 170);
    background: linear-gradient(
        153deg,
        rgba(116, 127, 170, 1) 14%,
        rgba(34, 48, 100, 1) 100%
    );
}
#CardRed {
    background: rgb(212, 82, 82);
    background: linear-gradient(
        153deg,
        rgba(212, 82, 82, 1) 14%,
        rgba(197, 72, 72, 1) 100%
    );
}
#CirRed {
    background: rgb(241, 148, 148);
    background: linear-gradient(
        166deg,
        rgba(241, 148, 148, 1) 0%,
        rgba(212, 82, 82, 1) 100%
    );
}
#CirBlue {
    background: rgb(116, 127, 170);
    background: linear-gradient(
        159deg,
        rgb(168, 182, 241) 0%,
        rgba(34, 48, 100, 1) 100%
    );
}
#counters {
    background: rgb(232, 232, 232);
    background: linear-gradient(
        318deg,
        rgba(232, 232, 232, 1) 60%,
        rgba(210, 210, 210, 1) 100%
    );
}
.fade-in {
    animation: fade-in 2s linear infinite;
}

.Card1 {
    height: 0.15rem;
}
.Card2 {
    height: 0.15rem;
}
.Card3 {
    height: 0.15rem;
}
.Card4 {
    height: 0.15rem;
}
.cir {
    width: 6.5rem;
}
.bounce2 {
    animation: bounce2 5s ease-in-out infinite;
}
@keyframes bounce2 {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-10px);
    }
}
/* //////////////////////////////////////// */
@media screen and (max-width: 1024px) {
    .glide__slide img {
        width: 100%;
        padding: 2rem;
    }
}
@media screen and (max-width: 600px) {
    .glide__slide img {
        width: 100%;
        padding: 3rem;
    }
}
@media screen and (max-width: 400px) {
    .glide__slide img {
        width: 100%;
        padding: 3rem;
    }
}
.images {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.glide__slide img {
    width: 100%;
    padding: 1rem;
}
.glide__slide {
    filter: blur(10xp);
    opacity: 0.3;
    transition: all 0.5s ease-in-out;
}
.glide__slide--active {
    opacity: 1;
    filter: none;
    transform: scale(1.02, 1.02);
}
.glide__slides {
    overflow: visible;
}

.nav {
    position: relative;
    padding: 2rem;
    align-items: center;
}

.glide__bullet {
    width: 0.7rem;
    margin: 0 6px;
    height: 0.7rem;
    transition: all 0.5s ease-in-out;
}
.glide__bullet--active {
    transform: scale(1.5, 1.5);
}
.glide__arrows {
    display: flex;
    justify-content: center;
    align-items: center;
}
.glide__arrow {
    border: none;
    box-shadow: none;
    -webkit-tap-highlight-color: transparent;
}

/* /////////////////////////////////////// */
/* Animation */

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes slideInDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes slideInDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
/* Style the tab */
.tab {
    /* overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1; */
}

/* Style the buttons that are used to open the tab content */
.tab button {
    /* background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s; */
}

/* Change background color of buttons on hover */
.tab button:hover {
    /* background-color: #ddd; */
}

/* Create an active/current tablink class */
.tab button.active {
    /* background-color: #ccc; */
}

/* Style the tab content */
.tabcontent {
    display: none;
    /* padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none; */
}
